.flag {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 1.5rem; 
  vertical-align: middle; 
}

.language {
  font-size: small;
}

.center-content {
    display: flex;
    justify-content: center;
}

pre {
    padding: .25em .5em;
    color: #bf616a;
    background-color: #f9f9f9;
    border: solid;
    border-width: thin 1px;
    border-color: #8d8989;
}

.fondo {
  background-color: #ac4142 !important;
}

.tourLink {
  color: #863131;
}