<div class="sidebar">
  <div class="container sidebar-sticky">

  <!-- social networks -->
  <ul class="soc">
      <li><a class="soc-twitter" href="https://twitter.com/@WollokLang"></a></li>
      <li><a class="soc-google" href="https://groups.google.com/d/forum/wollok "></a></li>
      <li><a class="soc-email2" href="mailto:wollok@uqbar.org "></a></li>
      <li><a class="soc-github soc-icon-last" href="http://github.com/uqbar-project/wollok"></a></li>
  </ul>
  <!-- social networks -->

    <div class="sidebar-about">
      <img src="{{ site.logo }}" height="80%" width="80%"/>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: hyde` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = (site.pages | where: "lang" , 'es' | sort:"weight") %}
      {% for node in pages_list %}
        {% if node.title != null && node.weight > 0 %}
          <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
            <a href="{{ node.url }}">{{ node.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

    </ul>

    <div class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</div>
  </div>
</div>
