<!--Navigation-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-red">
  <a class="navbar-brand" href="#" style="padding-left: 6rem;">
    <img src="/images/WollokLogo.png" class="d-inline-block align-center" title="Un lenguaje y entorno de aprendizaje de Programación Orientada a Objetos."
      style="height: 50px;"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% assign pages_list = (site.pages | where: "lang" , 'es' | sort:"weight") %}
      {% for node in pages_list %}
        {% if (node.title != null) && (node.title != "") && (node.weight > 0) %}
          <li class="nav-item{% if page.url == node.url %} active{% endif %}">
            <a class="nav-link" href="{{ node.url }}">{% if page.url == node.url %}<span class="sr-only">(current)</span>{% endif %}{{ node.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <div>
      <li class="nav-item">
        <a class="nav-link" href="/wollokDoc/index.html">Guía del lenguaje</a>
      </li>
    </ul>
    <div>
      <a href="https://twitter.com/@Wollok" title="Buscá Wollok en twitter"><span class="badge badge-pill indigo lighten-1 hoverable"><i class="fa fa-twitter"></i></span></a>
      <a href="mailto:wollok@uqbar.org" title="Envianos un mail"><span class="badge badge-pill red darken-5 hoverable"><i class="fa fa-mail-reply" aria-hidden="true"></i></span></a>
      <a href="http://github.com/uqbar-project/wollok" title="Accedé a nuestro repositorio de github"><span class="badge badge-pill red darken-4 hoverable"><i class="fa fa-github"></i></span></a>
    </div>
  </ul>
  </div>
</nav>
<!--/.Navigation-->
