<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include es/head.html %}

  <body class="theme-base-08">
    <script src="/mdb/js/jquery-3.2.1.min.js"></script>
    <script src="/mdb/js/popper.min.js"></script>
    <script src="/mdb/js/bootstrap.min.js"></script>
    <script src="/mdb/js/mdb.min.js"></script>
      
    {% include es/sidebar.html %}

    {% include es/forkme.html %}

    <div class="content container">
      {% include es/language.html %}
      {{ content | toc_generate }}
    </div>

  </body>
</html>
